{% extends "_base.html" %}
{% block content %}
<div id="content">
  <fieldset class="login-form" id='login-form'><label for="login-form" class="fld_label">Recent Uploads</label>
    <ul class="filelist">
    {% for file in files %}
      <li>
        <a href="{{ url_for('file_serve', file_indicator=file.url) }}" class="f_name">{{ file.name }}</a>
        <div class="f_info">
          <span class="f_ext_size">[<span class="f_ext">{{ file.filename|file_ext }}</span> / <span class="f_size">{{ file.filesize|filesizeformat }}</span>]</span>
          - <span class="f_date">[{{ file.created.strftime('%Y-%m-%d') }}]</span>
        </div>
      </li>
    {% endfor %}
    </ul>
  </fieldset>
  <div id="paged">
    {% for pg in all_pages %}
      <a href="{{ url_for('recent_files', page_cur=pg) }}"{% if pg == page_cur %} class="page_cur"{% endif %}>{{ pg }}</a>
    {% endfor %}
  </div>
  
</div>
{% endblock %}